// Place all the styles related to the haikuify controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    'Abel', 'sans-serif';

body {
  font-family: $font-stack;
  font-size: 20px;
}

#haiku-widget {
  margin: auto;
  margin-top: 7em;

  h2 {
    text-align: center;
    margin-bottom: 1em;
  }

  #haikuify-it-btn {
    margin:0 auto;
    display:block;
    font-family: $font-stack;
    font-size: 1em;
  }

  #haiku-text {
    text-align: center;
    margin-top: 1em;
  }
}
